$version: '1.0.0';
$themeName: 'NoeudTheme';
$author: 'PerdSonNoeud';
$desc: 'Custom theme by PerdSonNoeud for BetterDiscord';
$src: 'https://github.com/PerdSonNoeud/NoeudTheme';

$main_import: 'main.css';
