/*! NoeudTheme v1.0.0 by PerdSonNoeud */
.visual-refresh.theme-darker,
.visual-refresh .theme-darker {
  --background--floating: var(---noeud-floating-bg);
  --bg-brand: rebeccapurple;
}

.divider__908e2.hasContent__908e2 {
  border-color: transparent;
}

.visual-refresh .content__908e2 {
  display: flex;
  flex: 1;
  background-color: transparent;
  align-items: center;
  font-weight: 700;
}

.content__908e2::before, .content__908e2::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background: var(--noeud-floating-bg);
}
.content__908e2::before {
  margin-right: 10px;
}
.content__908e2::after {
  margin-left: 10px;
}
.isUnread__908e2 .content__908e2::before, .isUnread__908e2 .content__908e2::after {
  background: red;
}

.buttons__74017 > button {
  display: none !important;
}

.membersGroup_c8ffbb {
  display: flex;
  align-items: center;
  color: var(--noeud-roles-color);
}
.membersGroup_c8ffbb:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.membersGroup_c8ffbb:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}

.visual-refresh .panels_c48ade {
  left: calc(var(--space-xs) + 72px);
  width: calc(100% - var(--space-xs) * 2 - 72px);
}

:is(.theme-light, .theme-dark) .panel__5dec7 {
  background-color: transparent;
}

:is(.theme-light, .theme-dark) .wrapper__0d616 {
  background: transparent;
}

.contentWrapper__0d616 {
  background: none !important;
}

.postEnrollmentBackgroundCollapsed__636a2,
.postEnrollmentBackgroundExpanded__636a2 {
  background-image: none !important;
  background-color: transparent;
  border: none;
}

.headerText__636a2,
.submenuIcon__636a2 {
  color: transparent;
}

.visual-refresh .wrapperCommon__29444 .mainContent__29444 .name__29444 {
  color: var(--noeud-category-color);
}
.visual-refresh .wrapperCommon__29444 .mainContent__29444[aria-expanded=false] {
  color: var(--noeud-closed-cat);
}
.visual-refresh .wrapperCommon__29444 .mainContent__29444[aria-expanded=true] {
  color: var(--noeud-open-cat);
}
.visual-refresh .wrapper__29444:hover * {
  color: var(--noeud-hover-color);
}

.wrapper__2ea32:hover .link__2ea32, .wrapper__2ea32.modeMuted__2ea32:hover .link__2ea32 {
  background-color: var(--noeud-second-channel);
}
.wrapper__2ea32 .modeSelected__2ea32 .link__2ea32 {
  background-color: var(--noeud-select-channel) !important;
}

.visual-refresh .name_f37cb1 {
  color: var(--noeud-server-name);
}

/* Default Variables */
:root {
  --noeud-title-color: rgb(150, 0, 255);
  --noeud-category-color: rgb(210, 0, 255);
  --noeud-closed-cat: rgb(255, 0, 0);
  --noeud-opened-cat: rgb(0, 255, 0);
  --noeud-hover-color: rgb(255, 100, 210);
  --noeud-select-channel: rgba(210, 0, 255, 0.5);
  --noeud-second-channel: rgba(210, 0, 255, 0.2);
  --noeud-floating-bg: rgba(110, 0, 155, 0.8);
  --noeud-mentioned: rgba(216, 163, 92, 0.2);
  --noeud-roles-color: rgb(207, 227, 243);
  --noeud-bg-url: url(https://raw.githubusercontent.com/PerdSonNoeud/NoeudTheme/refs/heads/main/image/Night_landscape.png);
  --noeud-bg-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--noeud-bg-url) center/cover no-repeat;
  --noeud-bg-filter: linear-gradient(
    var(--noeud-bg-shading),
    var(--noeud-bg-shading)
  );
  --noeud-bg-filter2: linear-gradient(
    var(--noeud-bg-shading2),
    var(--noeud-bg-shading2)
  );
  --noeud-bg-shading: rgba(0, 0, 0, 0.3);
  --noeud-bg-shading2: rgba(0, 0, 0, 0.6);
  --noeud-bg-shading-percent: 100%;
}

/*# sourceMappingURL=main.css.map */
