/*! NoeudTheme v1.0.0 by PerdSonNoeud */
/* Miscellaneous */
.visual-refresh.theme-darker,
.visual-refresh .theme-darker {
  --background-floating: var(--noeud-floating-bg);
  --bg-brand: rebeccapurple;
}

/* App */
.visual-refresh :is(html,
body,
.appMount__51fd7) {
  background: none;
}

.app__160d8 {
  background: var(--noeud-bg-filter);
}

.layers__960e4 {
  box-shadow: 0px 0px 15px var(--noeud-title-color);
  border-radius: 20px;
  margin: 10px;
}

.visual-refresh .bg__960e4 {
  background: var(--noeud-bg-image);
  filter: var(--noeud-bg-shading-percent);
  background-attachment: fixed;
  margin: -10px;
  z-index: -1;
}

.numberBadge__2b1f5,
.textBadge__2b1f5 {
  background: var(--noeud-floating-bg) !important;
}

.mediaBarProgress_b26b79, .mediaBarProgress_b26b79::before, .mediaBarProgress_b26b79::after {
  background: var(--noeud-floating-bg);
}

.mediaBarGrabber_b26b79, .mediaBarInteraction_b26b79:hover .mediaBarGrabber_b26b79, .mediaBarInteractionDragging_b26b79 .mediaBarGrabber_b26b79 {
  background: var(--noeud-floating-bg);
}

.notice__6e2b9 {
  background: var(--custom-notice-background);
}

.colorBrand__6e2b9 {
  --custom-notice-background: var(--noeud-floating-bg);
}

.colorDanger__6e2b9 {
  --custom-notice-background: var(--noeud-danger);
}

.colorStreamerMode__6e2b9 {
  --custom-notice-background: var(--noeud-streaming);
}

/* Chat */
.visual-refresh .chat_f75fb0 {
  background: transparent;
}
.visual-refresh .chat_f75fb0[data-has-border=true] {
  border: none;
}
.visual-refresh .chat_f75fb0.threadSidebarOpen_f75fb0 {
  border-bottom-right-radius: 0;
}
.visual-refresh.theme-midnight .content_f75fb0 {
  border: none;
}
.visual-refresh :is(.chatContent_f75fb0, .scroller__28a87) {
  background: transparent;
}

.visual-refresh .channelTextArea__74017 {
  background-color: var(--noeud-bg-shading);
  box-shadow: 0 0 0 2px var(--noeud-bg-shading);
  border-color: transparent;
}
.visual-refresh .channelTextArea__74017:focus-within {
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--noeud-bg-shading2);
}
.visual-refresh .stackedBars__74017,
.visual-refresh .channelAttachmentArea_b77158 {
  background: transparent;
}
.visual-refresh .upload_aa605f {
  background: var(--noeud-bg-filter);
  border: none;
}

.threadSuggestionBar__841c8,
.themedBackground__74017 {
  background: transparent;
}

.toolbar_bba883 {
  background-color: var(--noeud-floating-bg);
}
.toolbar_bba883::before {
  border-top-color: var(--noeud-floating-bg);
}

.divider__908e2.hasContent__908e2 {
  border-color: transparent;
}

.visual-refresh .content__908e2 {
  display: flex;
  flex: 1;
  background-color: transparent;
  align-items: center;
  font-weight: 700;
}

.content__908e2::before, .content__908e2::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background: var(--noeud-floating-bg);
}
.content__908e2::before {
  margin-right: 10px;
}
.content__908e2::after {
  margin-left: 10px;
}
.isUnread__908e2 .content__908e2::before, .isUnread__908e2 .content__908e2::after {
  background: red;
}

.buttons__74017 > button {
  display: none !important;
}

/* Header */
:is(.theme-dark, .theme-light) .themed__9293f {
  background: var(--noeud-bg-filter);
}
:is(.theme-dark, .theme-light) .dot__9293f {
  display: none;
}

/* Members */
.visual-refresh .container_c8ffbb {
  background: none;
  border: none;
}
.visual-refresh .members_c8ffbb {
  background: var(--noeud-bg-filter);
  border-bottom-right-radius: 20px;
}
.visual-refresh .member__5d473 {
  background: transparent;
}
.visual-refresh .member__5d473:hover .childContainer__91a9d {
  background: var(--noeud-hover);
}
.visual-refresh .membersGroup_c8ffbb {
  background: transparent;
  display: flex;
  align-items: center;
  color: var(--noeud-roles-color);
}
.visual-refresh .membersGroup_c8ffbb:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.visual-refresh .membersGroup_c8ffbb:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}

.selected__91a9d .childContainer__91a9d {
  background-color: var(--noeud-selected) !important;
}

/* Side bar */
.visual-refresh .panels_c48ade {
  left: calc(var(--space-xs) + 72px);
  width: calc(100% - var(--space-xs) * 2 - 72px);
}

:is(.theme-light, .theme-dark) .panel__5dec7 {
  background-color: transparent;
}

:is(.theme-light, .theme-dark) .wrapper__0d616 {
  background: transparent;
}

.contentWrapper__0d616 {
  background: none !important;
}

.postEnrollmentBackgroundCollapsed__636a2,
.postEnrollmentBackgroundExpanded__636a2 {
  background-image: none !important;
  background-color: transparent;
  border: none;
}

.headerText__636a2,
.submenuIcon__636a2 {
  color: transparent;
}

.visual-refresh .guilds_c48ade {
  background: transparent;
  margin-top: 5px;
  height: 100%;
}

.visual-refresh .wrapperCommon__29444 .mainContent__29444 .name__29444 {
  color: var(--noeud-color-cat);
}
.visual-refresh .wrapperCommon__29444 .mainContent__29444[aria-expanded=false] {
  color: var(--noeud-closed-cat);
}
.visual-refresh .wrapperCommon__29444 .mainContent__29444[aria-expanded=true] {
  color: var(--noeud-opened-cat);
}
.visual-refresh .wrapper__29444:hover * {
  color: var(--noeud-hover-cat);
}

.visual-refresh .animatedContainer_f37cb1 {
  background-color: transparent;
  border: none;
}
.visual-refresh .container__2637a,
.visual-refresh .privateChannels__35e86 {
  background: var(--noeud-bg-filter);
}

.wrapper__2ea32:hover .link__2ea32, .wrapper__2ea32.modeMuted__2ea32:hover .link__2ea32 {
  background-color: var(--noeud-hover);
}
.wrapper__2ea32.modeSelected__2ea32 .link__2ea32 {
  background-color: var(--noeud-selected) !important;
}

.platform-win .sidebar_c48ade {
  border-radius: 0;
}

.visual-refresh .sidebar_c48ade::after {
  display: none;
}
.visual-refresh .sidebarList_c48ade {
  border: none;
}

/* Default Variables */
:root {
  --noeud-title-color: rgb(150, 0, 255);
  --noeud-color-cat: rgb(210, 0, 255);
  --noeud-closed-cat: rgb(255, 0, 0);
  --noeud-opened-cat: rgb(0, 255, 0);
  --noeud-hover-cat: rgb(255, 100, 210);
  --noeud-selected: rgba(210, 0, 255, 0.5);
  --noeud-hover: rgba(210, 0, 255, 0.2);
  --noeud-floating-bg: rgba(110, 0, 155, 0.8);
  --noeud-danger: rgba(255, 0, 0, 0.8);
  --noeud-streaming: rgba(134, 0, 118, 0.8);
  --noeud-mentioned: rgba(216, 163, 92, 0.2);
  --noeud-roles-color: rgb(207, 227, 243);
  --noeud-bg-url: url(https://raw.githubusercontent.com/PerdSonNoeud/NoeudTheme/refs/heads/main/image/Night_landscape.png);
  --noeud-bg-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--noeud-bg-url) center/cover no-repeat;
  --noeud-bg-filter: linear-gradient(
    var(--noeud-bg-shading),
    var(--noeud-bg-shading)
  );
  --noeud-bg-filter2: linear-gradient(
    var(--noeud-bg-shading2),
    var(--noeud-bg-shading2)
  );
  --noeud-bg-shading: rgba(0, 0, 0, 0.3);
  --noeud-bg-shading2: rgba(0, 0, 0, 0.6);
  --noeud-bg-shading-percent: 100%;
}
