@use "backend" as *;

#{c(main visualRefresh)} {
  #{c(guildList guilds)} {
    background: transparent;
    margin-top: 5px;
    height: 100%;
  }
}

#{c(guildList iconWrapper)} {
  &:not(#{c(guildList selected)}) {
    #{c(guildList guildIcon)} {
      border-radius: 50%;
      transition: 0.1s;
    }
  }
}
