@use "backend" as *;

// CHAT INPUT
#{c(main visualRefresh)} {
  #{c(chatForm channelTextArea)} {
    background-color: var(--noeud-bg-shading);
    box-shadow: 0 0 0 2px var(--noeud-bg-shading);
    border-color: transparent;
    &:focus-within {
      border-color: transparent;
      box-shadow: 0 0 2px 2px var(--noeud-bg-shading2);
    }
  }
  #{c(chatForm stackedBars)},
  #{c(chatForm attachmentArea)} {
    background: transparent;
  }
  #{c(chatForm upload)} {
    background: var(--noeud-bg-filter);
    border: none;
  }
}
#{c(chatForm threadSuggestionBar)},
#{c(chatForm themedBackground)} {
  background: transparent;
}

// TOOLBAR
#{c(chatForm toolbar)} {
  background-color: var(--noeud-floating-bg);
  &::before {
    border-top-color: var(--noeud-floating-bg);
  }
}
